extends template/template.pug

block content
	.container
		h1 Welcome to the Moustacheminer Server Services Documentation for the AQA A-Level Specification for Computer Science!
		p: a(href="/spec.pdf") View the original specification sheet here
