extends template/template.pug

block content
	.container
		h1 Welcome to the Moustacheminer Server Services Documentation for the AQA A-Level Specification for Computer Science!
	.container.grey-b1
		p: a(href="/spec.pdf") View the original specification sheet here
		i Copyright 2016 AQA
	.container.grey-b1
		a(href="#" onclick="toggleNav()") View the docs
