extends template/template.pug

block content
	.container
		h1.tcenter Welcome to the Moustacheminer Server Services Documentation for the AQA A-Level Specification for Computer Science!
		.infobox.grey-b1
			p Documentation is hard to find, and when documentation is found, it is almost impossible to find a balance between quality of the website and the quality of the content. This website aims to break this trend, giving great content on a great website.
		.infobox.grey-b2
			p: a(href="/spec.pdf") View the original specification sheet here
			p: i Copyright 2016 AQA
		.infobox.grey-b2
			span: a(href="#" onclick="toggleNav()") View the docs
