extends template/template.pug

block content
	.container
		h1 Welcome to the Moustacheminer Server Services Documentation for the AQA A-Level Specification for Computer Science!
		p View the original specification
			a(href="/spec.pdf") here
