body {
	margin: 0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', 'Noto Sans', 'Ubuntu', 'Arial', sans-serif;
}

nav {
	position: sticky;
	top: 0px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 2px 2px #AAAAAA;
	z-index: 1;
}

nav * {
	padding: 0px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	display: inline-block;
}

nav a:link, nav a:visited, nav a:hover, nav a:active,
footer a:link, footer a:visited, footer a:hover, footer a:active {
	text-decoration: none;
	color: #FFFFFF;
}

main {
	padding: 10px;
	flex: 1 0 auto;
}

footer {
	padding: 10px;
	color: #FFFFFF;
}

footer p {
	margin: 0px;
}

.title {
	margin-left: auto;
	text-align: right;
}

.noscroll {
	position: fixed;
	overflow-y: scroll;
	width: 100%
}

.scroll {
	position: static;
	overflow-y: auto;
}

.infobox {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.infobox > * {
	margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 5px;
    margin-right: 5px;
}

.imgbox {
	float: right;
	margin-left: 5px;
}

.imgbox > img {
	width: 10em;
}

.imgbox > p {
	width: 10em;
	font-style: italic;
	text-align: right;
}

.hide {
	display: none;
}
